/* GENERAL STYLES */
:root {
    --sepia: #fffbd8;
    --dark: #2a2a2a;
    --lightgrey: rgba(255,255,255,0.5);
    --brand:#ffbe4b;
    --form-bg: #e6e3c5;
    --yellow: #ffbe4b;
    --banner-bg: #6f5f30;
    --mainTransition: all 0.3s linear;
    font-size: 21px;
}

html, body {
    box-sizing: border-box;
    background-color: var(--sepia);
    color: var(--dark);
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
h1 {
    font-family: 'DM Serif Display';
    font-size: 2.5rem;
}
h2 {
    font-family: 'DM Serif Display';
    font-size: 2rem;
}
a {
    color: var(--dark);
}
a:hover {
    color: var(--dark);
    text-decoration: underline;
}
ul {
    list-style-type: none;
}
main {
    margin-top: 6vh;
    padding-bottom: 2rem;
}
/* End of GENERAL STYLES */


/* Ultility */
.light-text {
    color: var(--lightgrey)
}
.padding {
    padding: 5vh 5vw;
}
.text-div {
    padding: 5vw;
}
.btn-outline-primary {
    border: 2px solid var(--dark);
    color: var(--dark);
    border-radius: 20px;
}
.btn-outline-primary:hover {
    background-color: var(--yellow);
    color: var(--dark);
    border: 2px solid var(--dark);
}
.btn-primary {
    background-color: var(--brand);
    color: var(--dark);
    border: hidden;
    font-weight: bold;
}
.btn-warning {
    background-color: var(--brand);
    color: var(--dark);
    border: hidden;
    font-weight: bold;
}

.dark-div {
    background-color: var(--dark);
    color: white;
}
/* End of Ultility */


/* NAVIGATION */
#logo {
    height: 6vh;
    min-width: 80px;
    position: relative;
}
.navbar {
    padding: 0px 50px;
    background: var(--dark);
    z-index: 1;
}
.navbar-nav a {
    color: var(--lightgrey);
}
.nav-link {
    margin: 0px 25px;
}
.fa-shopping-cart {
    color: var(--lightgrey);
}
/* --Shopping cart icon */
.cart-1 {
    margin-right: 10px;
    display: none;
}
.badge-pill{
    background-color: var(--brand);
    color: var(--dark);
}
/* End of Shopping cart icon */
/* End of NAVIGATION */



/* FOOTER */
footer {
    background-color: var(--dark);
    height: auto;
    width: auto;
    padding: 10px;
    margin-top: auto;
}


/* BANNER */
.banner {
    background-image: url(images/sandwich-banner-transparent.png);
    height: 300px;
}
.menu-banner {
    background-color: var(--banner-bg);
}
.menu-banner img{
    width: 100%;
    max-width: 1000px;      
    display: block;
    margin: auto;
}
/* End of BANNER */


/* PAGE TITLE */
.title-container {
    padding: 2em 0px;
    background-color: var(--brand);
}

.title-heading {
    text-align: center;
    color: var(--dark);
}
/* End of PAGE TITLE */


/* HERO (Homepage) */
.hero-img {
    width: 45vw;
    margin-left: 0vw;
    margin-bottom: 1.5vh;
    max-width: 800px;
    min-width: 250px;
}
.hero-contact {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
#social-media {
    margin-top: 5px;
}
#menu-btn {
    margin-top: 3vh;
    margin-bottom: 2vh;
    border: 2px solid var(--dark);
    border-radius: 20px;
    background: transparent;
}
/* Social Media */
#social-media {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
}
#social-media a{
    font-size: 2rem;
}
#social-media i {
    color: var(--dark);
}
#social-media i:hover {
    color: var(--lightgrey);
}
/* End of Social Media */
/* End of HERO*/


/* Contact Form (Contact Page)*/
.form-div {
    margin: 5vh 5vw;
}
form {
    padding: 5vh 5vw;
    background-color: var(--form-bg);
    box-shadow: 5px 10px 20px #999;
}
#form-btn {
    display: flex;
    margin-left: auto;
}
/* End of Contact Form */


/* PRODUCTS */
.card-title {
    font-size: 1rem;
}
.card-body {
    font-size: 0.9rem;
    background-color: var(--brand);
    text-align: center;
}
.add2cart {
    background-color: var(--dark);
    color: var(--brand);
    border: none;
    display: block;
    margin: auto;
    padding: 3px 1rem;
}
/* End of PRODUCTS */


/* CART  */
.cart-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: var(--mainTransition);
    background: rgba(0, 0, 0, 0.4);
    z-index: 2;
    visibility: hidden;
}
.cart {
    font-size: 18px;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    z-index: 3;
    background: var(--sepia);
    padding: 1.5rem;
    transition: var(--mainTransition);
    transform: translateX(100%);
}
.cart h2 {
    font-family: sans-serif;
}
.showCart {
    transform: translateX(0);
}
  .transparentBcg {
    visibility: visible;
}
@media screen and (min-width: 768px) {
    .cart {
        font-size: 16px;
        width: 30vw;
        min-width: 500px;
    }
}
  
.close-cart {
    font-size: 1.7rem;
    cursor: pointer;
}
.cart h2 {
    text-transform: capitalize;
    text-align: center;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
/*  CART Item  */
.cart-item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
}
.cart-item img {
    height: 75px;
}
.cart-item h4 {
    font-size: 1rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
}
.cart-item h5 {
    font-size: 0.8rem;
    margin: 0.4em 0;
    letter-spacing: var(--mainSpacing);
}
.item-amount {
    text-align: center;
    margin-bottom: 0px;
}
.remove-item {
    color: grey;
    cursor: pointer;
}
.fa-chevron-up,
.fa-chevron-down {
    color: var(--primaryColor);
    cursor: pointer;
}
/*  End of CART Item  */
  
.cart-footer {
    margin-top: 2rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
}
.cart-footer h3 {
    text-transform: capitalize;
    font-size: 1rem;
    margin-bottom: 1rem;
}
.clear-cart {
    padding: 0.5rem 3rem;
}
  
/*  End of CART  */



/* MEDIA QUERIES */
@media screen and (max-width: 990px) {
    :root {
        font-size: 16px;
    }
    

    /* BANNER */
    .banner {
        background-size: contain;   
    }
    

    /* Change layout from horizontal to vertical */
    .hero {
        display: flex;
        flex-direction: column-reverse;
    }
    .text-div {
        padding: 0 10vw;
        text-align: center;
    }
    .img-div {
        display: grid;
        place-items: center;
    }

    /* Social media */
    #social-media {
        margin-top: 15px;
        justify-content: center;
    }
    .social-media-icon {
        width: 25px;
    }

}

@media screen and (max-width: 768px) {
    /* NAVIGATION */
    .cart-1 {
        display: inline-block;
    }
    .cart-2 {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .padding {
        padding: 0 1vw;
        padding-top: 5vh;
    }
    main {
        padding-top: 20px;
    }
    /* NAVBAR */
    .navbar {
        padding: 7px;
    }
}
/* End of MEDIA QUERIES */

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}