/* GENERAL STYLES */
:root {
    --sepia: #fffbd8;
    --dark: #2a2a2a;
    --lightgrey: #acacac;
    --brand:#ffbe4b;
    --form-bg: #e6e3c5;
    --yellow: #ffbe4b;
    --banner-bg: #6f5f30;
    font-size: 21px;
}

html, body {
    box-sizing: border-box;
    background-color: var(--sepia);
    color: var(--dark);
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
h1 {
    font-family: 'DM Serif Display';
    font-size: 2.5rem;
}
h2 {
    font-family: 'DM Serif Display';
    font-size: 2rem;
}
a {
    color: var(--dark);
}
a:hover {
    color: var(--dark);
    text-decoration: underline;
}
main {
    margin-top: 6vh;
    padding-bottom: 2rem;
}


/* Ultility */
.light-text {
    color: var(--lightgrey)
}
.padding {
    padding: 5vh 5vw;
}
.text-div {
    padding: 5vw;
}
.btn-outline-primary {
    border: 2px solid var(--dark);
    color: var(--dark);
    border-radius: 20px;
}
.btn-outline-primary:hover {
    background-color: var(--yellow);
    color: var(--dark);
    border: 2px solid var(--dark);
}
.dark-div {
    background-color: var(--dark);
    color: white;
}


/* NAVIGATION */
#logo {
    height: 6vh;
    min-width: 80px;
    position: relative;
}
.navbar {
    padding: 0px 50px;
    background: var(--dark);
}
.navbar-nav a {
    color: var(--lightgrey);
}
.nav-link {
    margin: 0px 25px;
}


/* FOOTER */
footer {
    background-color: var(--dark);
    height: auto;
    width: auto;
    padding: 10px;
    margin-top: auto;
}


/* BANNER */
.banner {
    background-image: url(images/sandwich-banner-transparent.png);
    height: 300px;
}
.menu-banner {
    background-color: var(--banner-bg);
}
.menu-banner img{
    width: 100%;
    max-width: 1000px;      
    display: block;
    margin: auto;
}


/* PAGE TITLE */
.title-container {
    padding: 2em 0px;
    background-color: var(--brand);
}

.title-heading {
    text-align: center;
    color: var(--dark);
}



/* Hero section (Homepage) */
.hero-img {
    width: 45vw;
    margin-left: 0vw;
    margin-bottom: 1.5vh;
    max-width: 800px;
    min-width: 250px;
}


.hero-contact {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
#social-media {
    margin-top: 5px;
}
#menu-btn {
    margin-top: 3vh;
    margin-bottom: 2vh;
    border: 2px solid var(--dark);
    border-radius: 20px;
    background: transparent;
}
/* Social Media */
#social-media {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
}
#social-media a{
    font-size: 2rem;
}
#social-media i {
    color: var(--dark);
}
#social-media i:hover {
    color: var(--lightgrey);
}


/* Contact Form (Contact Page)*/
.form-div {
    margin: 5vh 5vw;
}
form {
    padding: 5vh 5vw;
    background-color: var(--form-bg);
    box-shadow: 5px 10px 20px #999;
}
#form-btn {
    background-color: var(--brand);
    color: var(--dark);
    border: hidden;
    display: flex;
    margin-left: auto;
    font-weight: bold;
}

/* Carousel (Homepage) */
.carousel-inner {
    background-color: var(--banner-bg);
}
.carousel-inner img {
    width: 100%;
    max-width: 1000px;
    display: block;
    margin: auto;
}


/* Divider (Homepage) */
.divider {
    background-color: var(--yellow);
}

/* MEDIA QUERIES */


@media screen and (max-width: 990px) {
    :root {
        font-size: 16px;
    }
    
    /* DIVIDER */
    .lead {
        font-size: 16px;
    }

    /* BANNER */
    .banner {
        background-size: contain;   
    }
    

    /* Change layout from horizontal to vertical */
    .hero {
        display: flex;
        flex-direction: column-reverse;
    }
    .text-div {
        padding: 0 10vw;
        text-align: center;
    }
    .img-div {
        display: grid;
        place-items: center;
    }

    /* Social media */
    #social-media {
        margin-top: 15px;
        justify-content: center;
    }
    .social-media-icon {
        width: 25px;
    }

}

@media screen and (max-width: 576px) {
    .padding {
        padding: 0 1vw;
        padding-top: 5vh;
    }
    main {
        padding-top: 20px;
    }
    /* NAVBAR */
    .navbar {
        padding: 7px;
    }
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}